* {
    margin: 0px;
    font-size: 16px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.filter {
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    width: 50rem;
    height: 34.2rem;
    z-index: 1;
    border-radius: 0.3rem;
}

img {
    width: 50rem;
    z-index: -1;
    border-radius: 0.3rem;
}

button {
    margin: 2rem;
    width: 10rem;
    height: 2rem;
    background-color: rgba(200, 200, 200, 1);
}

button:hover {
    background-color: rgba(180, 180, 180, 1);
}
