body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.filter {
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    width: 50em;
    height: 34.2em;
    z-index: 1;
}

img {
    width: 50em;
    z-index: -1;
}
